@model IEnumerable<ACME.Models.DatabaseModels.Administer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdministerEmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdministerUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdministerPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdministerEmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministerUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministerPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdministerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdministerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdministerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
