@model ACME.Models.DatabaseModels.Administrator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administrator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorEmployeeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorEmployeeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdministratorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
