@model ACME.Models.DatabaseModels.ClientAddress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientAddress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddressAddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddressAddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddressAddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddressAddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddressAddressLine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddressAddressLine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddressAddressLine4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddressAddressLine4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddressPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddressPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientAddressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
